@use "screen-size" as *;

.page_header {
    position: relative;
    width: 23.4375rem;
    height: 6rem;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    // padding: 2.5rem 1.5rem;

    .page_logo {
        height: 2rem;
    }

    .bg_image {
        position: absolute;
        width: 17.6rem;
        height: 30rem;
        top: -5rem;
        left: 7.5rem;
        background-image: url("/src/assets/bg-main-mobile.png");
        background-size:cover;
    }

    @include screen-size-up(tablet) {
        margin-left: 2.446875rem;
        
        .bg_image {
            left: 20rem;
        }
    }

    @include screen-size-up(desktop) {
        margin-left: 10.3125rem;
        margin-right: 10.3125rem;
        width: 90rem;

        .bg_image {
            left: 48rem;
        }
    }
  
}

